extends layout 

block content
  div(class="new-message")
    h1(class="new-message-title")= "New message"
    form(class="message-form" method="POST" action="/new")
      div(class="message-form__input-wrapper")
        label(class="message-form__label")= "Username"
        input(class="message-form__input" type="text" name="messageUser")
      input(class="message-form__input" type="text" placeholder="Enter your message text..." name="messageText")
      button(class="message-form__submit")= "Send :3"